body{
	
	background-image:url(hitman.jpg);

	background-size: 1366px 768px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90%;
	

}

.container1{

	display: flex;
	justify-content: center;

}

h2{
	color: white;
	position: absolute;
	top:280px;
}


.container2{
	display: flex;
		justify-content: center;

}
a:link{
		text-align: center;
		color: white;
		background-color: rgb(247, 33, 33);
		width: 200px;
		padding-top: 8px;
		padding-bottom: 8px;
		border-radius: 50px;
		margin-top: 430px;
		border: 2px solid red;
		box-shadow: 2px 2px black;
		
}
a:visited{
		
		color: white;
		background-color: rgb(247, 33, 33);
		margin-top: 40px;
		border: 2px solid red;
		box-shadow: 2px 2px black;


}